services:
  # Keycloak for authentication and authorization
  keycloak:
    image: quay.io/keycloak/keycloak:20.0.3
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "8080:8080"
    networks:
      - OurNetworks-App

  # API Gateway
  apigateway:
    build:
      context: ./ApiGateway
      dockerfile: Dockerfile
    container_name: apigateway
    ports:
      - "5130:5130"
    depends_on:    
      - grower-service
      - station-service
      - messager-service
    environment:
      
      SERVICE_NAME: apigateway-service
      SERVICE_HOST: apigateway-service
      SERVICE_PORT: 5130
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - OurNetworks-App

  # Grower Service
  grower-service:
    build:
      context: ./GrowerService
      dockerfile: Dockerfile
    container_name: grower-service
    ports:
      - "5003:5003"
    environment:
      
      SERVICE_NAME: grower-service
      SERVICE_HOST: grower-service
      SERVICE_PORT: 5003
      ASPNETCORE_ENVIRONMENT: Development      
    networks:
      - OurNetworks-App

  # Station Service
  station-service:
    build:
      context: ./StationService
      dockerfile: Dockerfile
    container_name: station-service
    ports:
      - "5004:5004"
    environment:
      
      SERVICE_NAME: station-service
      SERVICE_HOST: station-service
      SERVICE_PORT: 5004
      ASPNETCORE_ENVIRONMENT: Development
      
    networks:
      - OurNetworks-App

  # MultiTenant Stripe API
  multitenant-api:
    build:
      context: ./MultiTenantStripeAPI
      dockerfile: Dockerfile
    container_name: multitenant-api
    ports:
      - "5005:5005"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Logging__LogLevel__Default: "Information"
      Logging__LogLevel__Microsoft.AspNetCore: "Warning"
      AllowedHosts: "*"
      Stripe__SecretKey: "sk_test_51MlVg6IQYGMLN4GqZakooCBR7H8x0VuYkXSO528i61ursaYg4MM9UlqT9NF0VX7TIzGhGxvJOBvd4pR6Sn7AGBgy00tSclea1m"
      Stripe__PublishableKey: "pk_test_51MlVg6IQYGMLN4Gq4LqgxzlpJaVFyyunsO4uDGBVGF8Ratno5woLH0fvTGUkWy7RkROvhTytOA2lYOVTiLPwKA9L00xdT7GnMw"
      Stripe__WebhookSecret: "whsec_e27f4c42dad38e9be636d4a8acd796b688eb794348ec7642caa4a90ed96d33a7"
      SERVICE_PORT: "5005"
      SERVICE_NAME: "multitenant-stripe-api"
      SERVICE_HOST: "localhost"
      
    depends_on:
      
      - keycloak
    networks:
      - OurNetworks-App

   # Messager Service
  messager-service:
    build:
      context: ./MessagerService
      dockerfile: Dockerfile
    container_name: messager-service
    ports:
      - "5006:5006"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Logging__LogLevel__Default: "Information"
      Logging__LogLevel__Microsoft.AspNetCore: "Warning"
      AllowedHosts: "*"
      Azure__ConnectionString: "endpoint=https://lc-cs-rg.france.communication.azure.com/;accesskey=1567wkR0dzA47NmHHaFmBDL51xZhNcOh29T7o5U7OB4gFEd6gDkyJQQJ99ALACULyCprJRXAAAAAAZCSh7nf"
      Azure__SenderEmail: "DoNotReply@356bff7a-6482-4f84-9703-21b2c436f307.azurecomm.net"
      SERVICE_PORT: "5006"
      SERVICE_NAME: "messager-service"
      SERVICE_HOST: "localhost"
      
    networks:
      - OurNetworks-App

  # Angular Frontend
  subscription-app:
    build:
      context: ./subscription-app
      dockerfile: Dockerfile
    container_name: subscription-app
    ports:
      - "4200:80"
    networks:
      - OurNetworks-App

volumes:
  sql_data:

networks:
  OurNetworks-App:
    driver: bridge
