services:
  # API Gateway
  apigateway:
    image: ${APIGATEWAY_IMAGE}
    container_name: apigateway
    ports:
      - "${APIGATEWAY_PORT}:${APIGATEWAY_PORT}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      SERVICE_PORT: ${APIGATEWAY_PORT}
    networks:
      - our-network
  
  # MultiTenant Stripe API
  multitenant-api:
    image: ${MULTITENANT_API_IMAGE}
    container_name: multitenant-api
    ports:
      - "${MULTITENANT_API_PORT}:${MULTITENANT_API_PORT}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__AzureServiceBus: ${AZURE_SERVICE_BUS_CONNECTION_STRING}
      ConnectionStrings__DefaultSQLConnection: ${DEFAULT_SQL_CONNECTION}
      AZURE_COMMUNICATION_CONNECTION_STRING: ${AZURE_COMMUNICATION_CONNECTION_STRING}
      AZURE_COMMUNICATION_SENDER_EMAIL: ${AZURE_COMMUNICATION_SENDER_EMAIL}
      Stripe__SecretKey: ${STRIPE_SECRET_KEY}
      Stripe__PublishableKey: ${STRIPE_PUBLISHABLE_KEY}
      Stripe__WebhookSecret: ${STRIPE_WEBHOOK_SECRET}
      SERVICE_PORT: ${MULTITENANT_API_PORT}
    depends_on:
      - keycloak
    networks:
      - our-network

  # Messager Service
  messager-service:
    image: ${MESSAGER_SERVICE_IMAGE}
    container_name: messager-service
    ports:
      - "${MESSAGER_SERVICE_PORT}:${MESSAGER_SERVICE_PORT}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__AzureServiceBus: ${AZURE_SERVICE_BUS_CONNECTION_STRING}
      AzureCommunicationServices__ConnectionString: ${AZURE_COMMUNICATION_CONNECTION_STRING}
      AzureCommunicationServices__SenderEmail: ${AZURE_COMMUNICATION_SENDER_EMAIL}
      ServiceBus__TopicName: ${SERVICE_BUS_TOPIC_NAME}
      ServiceBus__SubscriptionName: ${SERVICE_BUS_SUBSCRIPTION_NAME}
      SERVICE_PORT: ${MESSAGER_SERVICE_PORT}
    networks:
      - our-network

  # Angular Frontend
  subscription-app:
    build:
      context: ./subscription-app
      dockerfile: Dockerfile
      args:
        CONFIGURATION: ${ANGULAR_BUILD_CONFIGURATION}
    container_name: subscription-app
    ports:
      - "${SUBSCRIPTION_APP_PORT}:80"
    networks:
      - our-network

  # KeycloakServiceAPI
  keycloak-service-api:
    image: ${KEYCLOAK_SERVICE_API_IMAGE}
    container_name: keycloak-service-api
    ports:
      - "${KEYCLOAK_SERVICE_API_PORT}:${KEYCLOAK_SERVICE_API_PORT}"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__AzureServiceBus: ${AZURE_SERVICE_BUS_CONNECTION_STRING}
      SERVICE_PORT: ${KEYCLOAK_SERVICE_API_PORT}
    depends_on:
      - keycloak
    networks:
      - our-network
        
networks:
  our-network:
    driver: bridge
